*{
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #faf0e6;
}

/*Banner*/
.banner{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.background-image{
    position: absolute;
    width: 100%;
    overflow: hidden;

}

#background-image{
    width: 100%;
    height: 100%;
}

.black-layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.logo-place{
    position: absolute;
    top: 100px;
    left: 114px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.welcome-line-1{
    position: absolute;
    top: 280px;
    left: 114px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.welcome-line-2{
    position: absolute;
    top: 360px;
    left: 114px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.end-of-banner{
    position: absolute;
    bottom: 100px;
    left: 114px;
    font-size: 40px;
    font-weight: normal;
    color: white;
}

.discord, .instagram, .facebook{
    position: absolute;
    bottom: 101px;
    color: white;
}

.discord i, .instagram i, .facebook i{
    color: white;
}

.discord{
    right: 234px;
}

.instagram{
    right: 174px;
}

.facebook{
    right: 114px;
}

.social-media a:link, a:visited, a:hover, a:active{
    color: white;
}

/*Introduce, Specialization, Skills, Projects*/
.content{
    margin-top: 105px;
    margin-left: 114px;
    margin-right: 114px;
}

/*Phần giới thiệu, Specialization, Skills*/
.heading{
    display: flex;
}

.heading-text{
    color: #ff8c94;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

.paragraph{
    font-size: 30px;
    font-weight: normal;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #ff8c94;
    margin-top: 26px;
    margin-left: 110px;
}

/*Phần ảnh*/
.pictures{
    display: flex;
    justify-content: center;
    gap: 30px;
    display: grid;
    grid-template-areas:
    "aa bb bb"
    "aa cc dd";
    margin: 50px 0px;
    color: #ff8c94;
}

.self-pic-1{
    grid-area: aa;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

.self-pic-1 img{
    max-width: 500px;
    max-height: 500px;
}

.scenery{
    grid-area: bb;
    max-width: 100%;
    max-height: 270px;
    overflow: hidden;
}

.scenery img{
    max-width: 650px;
}

.study{
    grid-area: cc;
    max-width: 310px;
    max-height: 200px;
    overflow: hidden;
}

.study img{
    max-width: 310px;
}

.food{
    grid-area: dd;
    max-width: 310px;
    max-height: 200px;
    overflow: hidden;
}

.food img{
    max-width: 310px;
}

/*Skills*/
.logo-image{
    display: flex;
    justify-content: space-around;
}

.logo-figma, .logo-illustrator, .logo-html, .logo-css{
    max-width: 180px;
    max-height: 180px;
}

.logo-figma img, .logo-illustrator img, .logo-html img, .logo-css img{
    max-width: 180px;
    max-height: 180px;
}

.logo-figma img{
    border-radius: 30px;
}

/*Projects*/
.project-content{
    display: flex;
}

.project-image{
    max-width: 450px;
}

.project-image img{
    max-width: 450px;
}

.project-paragraph{
    margin-top: -48px;
    margin-left: 70px;
}

.heading-project{
    color: #ff8c94;
    font-size: 35px;
    font-weight: bold;
    max-width: 721px;
}

.project-paragraph-line{
    font-size: 30px;
}

.project-detail-link a:link, a:visited, a:hover, a:active{
    color: #ff8c94;
}

/*Footer*/
.footer{
    background-color: #ff8c94;
    color: white;
    font-size: 20px;
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}